body{
    padding-left: 30%;
}
table {
    width: 55%;
    height: 70%;
    border-collapse: collapse;
    background-color: darkkhaki;
}

td, th {
    padding: 20px;
    border: 1px solid black;
}
tr:nth-child(even){
    :first-child{
        background-color: white;
    }
    :nth-child(odd) {
        background-color: black;
    }
    :first-child{
        background-color: darkkhaki;
    }
    :nth-child(even){
        background-color: white;
    }
}
tr:nth-child(odd){
    :first-child{
        background-color: white;
    }
    :nth-child(even) {
        background-color: black;
    }
    :first-child{
        background-color: darkkhaki;
    }
    :nth-child(odd) {
        background-color: white;
    }
}
tr:nth-child(odd){
    :first-child {
        background-color: darkkhaki;
    }
}
tr:nth-of-type(2) {

    :nth-child(odd) {
        background-color: white;
    }
    :nth-child(even) {
        background-color: white ;
    }
}
tr:nth-of-type(3) {
    :nth-child(odd) {
        background-color: white ;
    }
    :nth-child(even) {
        background-color: white ;
    }
}
tr:first-child {
    :first-child {
        background-color: cornflowerblue;
        color: white;

    }
}
tr:nth-of-type(5) {
    :nth-child(even){
        background-color: darkkhaki;
    }
    :nth-child(odd) {
        background-color: darkkhaki;
    }
}
tr:nth-of-type(4) {
    :first-child {
        background-color: white;
    }
}
.abc {
    text-align: right;
}
.bca {
    display: flex;
    justify-content: center;
}
.container {
    text-align: left;
}
.option {
    text-align: right;
}
